<html ng-app="app.todos">

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Node/Angular TODO</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>

    <link rel='stylesheet' type='text/css' href='//stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css'>
    <link rel='stylesheet' type='text/css' href='//stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/angular-xeditable/0.10.1/css/xeditable.min.css">
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-xeditable/0.10.1/js/xeditable.min.js"></script>
    <link rel="stylesheet" href="/assets/css/style.css">
    <script src="assets/js/main/app.js"></script>
    <script src="assets/js/main/services/serviceTodos.js"></script>

</head>

<body ng-controller="todoController">
    <div class="container">
        <div class="jumbotron text-center">
            <h1>{{appName}} <span class="label label-info">{{todo.length}}</span></h1>
        </div>
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <div class="checkbox" ng-repeat="todo in todos">
                    <input type="checkbox" ng-model="todo.isDone" ng-change="updateTodo(todo)">
                    <a href ng-click="deleteTodo(todo)"><i class="fa fa-remove text-danger"></i></a>
                    <a href ng-click="textBtnForm.$show()" ng-hide="textBtnForm.$visible"><i class="fa fa-edit"></i></a>

                    <span ng-class="{strike:todo.isDone}" editable-text="todo.text" e-form="textBtnForm"
                        onaftersave="updateTodo(todo)">{{todo.text}}</span>
                </div>
                <p class="text-center" ng-show="loading"> 
                    <span class="fa fa-spinner fa-spin fa-3x"></span>
                </p>
            </div>

        </div>
        <div id="todo-form" class="row"></div>
        <div id="todo-form" class="row">
            <div class="col-sm-8 col-sm-offset-2 text-center">
                <form>
                    <div class="form-group">
                        <input type="text" class="form-control inpu-lg text-left" placeholder="Nhap noi dung todo"
                            ng-model="formData.text">

                    </div>
                    <button type="submit" class="btn btn-primary btn-lg" ng-click="createTodo()" ng-disabled="!formData.text">Add</button>
                </form>
            </div>

        </div>
    </div>
</body>

</html>